<h2> All The Cats In The World!!! </h2>
<ol>
<% @cats.each do |cat|%>
<li>
 <%= cat.name %> <%= cat.sex %> <%= cat.color %> <%= cat.birth_date %> <%= cat.description %>
</li>

<% end %>
</ol>

<%= image_tag "Alan_Ng.png" %>

<%= image_tag "Alisher_Podavonov.png" %>

<%= image_tag "David_Zheng.png" %>

<%= image_tag "Duncan_Murchison.png" %>

<%= image_tag "Eric_Balfour.jpeg" %>

<%= image_tag "Gabriel_Groenendaal.jpeg" %>

<%= image_tag "Karen_Polanco.png" %>

<%= image_tag "Leo_Chung.png" %>

<%= image_tag "Madeline_Pla.png" %>

<%= image_tag "Vivian_Chen.jpeg" %>