<body>
    

<h2> All The Coolest Cats In The World!!! </h2>
<table>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Sex</th>
    <th>Color</th>
    <th>Birthday</th>
    <th>Description</th>
    <th>Profile Picture</th>
</tr>

<% @cats.each do |cat|%>

<tr>
 <td><h5><%= cat.id %></h5></td>
 <td><h5><%= cat.name %></h5></td>
 <td><h5><%= cat.sex %></h5></td>
 <td><h5><%= cat.color %></h5> </td>
 <td><h5><%= cat.birth_date %> </h5></td>
 <td><h5><%= cat.description %> </h5></td>
 <% cat_name = cat.name.split.join("_")+".png" %>
 <td> <%= image_tag cat_name %></td>

</tr>


<% end %>
</table>

</body>